<!-- Assignment_1 //  Zachary Havers // 301202845 // 2022-09-29 --> 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!--CSS Section-->

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
  </head>
  <body>

    <!--Main Navigation-->
    <%- include('partials/header.ejs') %>

    <!--Main Content-->
    <%- include('partials/main.ejs') %>

    <!--Services-->

    <div class="Service1">
        <img class="ServIm1" src="/images/WebDev.png" alt="Web Development" style="width:20%;">
        <div class="text-block1">
          <u><h2>Web Development</h2></u>
        </div>
      </div>

    <div class="Service2">
        <img class="ServIm2" src="/images/cSharp.png" alt="C#" style="width:20%;">
        <div class="text-block2">
          <u><h2>C#</h2></u>
        </div>
    </div>

    <div class="Service3">
        <img class="ServIm3" src="/images/Python.png" alt="Python" style="width: 20%;">
        <div class="text-block3">
          <u><h2>Python</h2></u>
        </div>
    </div>

    <div class="Service4">
        <img class="ServIm4" src="/images/SQL.png" alt="SQL" style="width: 20%;">
        <div class="text-block4">
          <u><h2>SQL</h2></u>
        </div>
    </div>

    <!--Bottom Navigation-->
    <%- include('partials/footer.ejs') %>

    <!--Script Section-->

    <script src="/scripts/app.js"></script>
    <script src="/jquery/dist/jquery.im.js"></script>
    <script src="/bootstrap/dist/css/bootstrap.min.js"></script>
  </body>
</html>